# email
emailuser="seuemail@dominio.com"
emailpw="senha_do_email"
email_host = 'smtp.email.com'
email_SMTPSecure = 'tls'
email_port = "123"

#banco de dados
db_host="host_do_banco"
db_port="5432"
db_user="usuario_do_banco"
db_pass="senha_do_banco"
db_banco="nome_do_banco"

